@import "compass/css3/background-size";

@import "variables";

slides > slide {
  color: $gray-4;

  &.title-slide {
    &:after {
      content: '';
      background: url(../../images/dfkosice2013/devfest-logo.png) no-repeat 100% 50%;
      @include background-size(contain);
      position: absolute;
      bottom: $slide-top-bottom-padding + 40;
      right: $slide-top-bottom-padding;
      width: 100%;
      height: 60px;
    }

    hgroup {
      h1 {
        font-weight: bold;
        line-height: 1.1;
      }
      h2, p {
        color: $gray-4;
      }
      h2 {
        margin-top: 0.25em;
      }
      p {
        margin-top: 3em;
      }
    }
  }
}

slides > slide:not(.nobackground):before {
    content: "#devestke";
}

code {
   color: #444;
}