/* line 5, ../scss/mdday2013 copy.scss */
slides > slide {
  color: #515151;
}
/* line 9, ../scss/mdday2013 copy.scss */
slides > slide.title-slide:after {
  content: '';
  background: url(../../images/mdday2013/mdday-logo.png) no-repeat 100% 50%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  position: absolute;
  bottom: 80px;
  right: 40px;
  width: 100%;
  height: 90px;
}
/* line 21, ../scss/mdday2013 copy.scss */
slides > slide.title-slide hgroup h1 {
  font-weight: bold;
  line-height: 1.1;
}
/* line 25, ../scss/mdday2013 copy.scss */
slides > slide.title-slide hgroup h2, slides > slide.title-slide hgroup p {
  color: #515151;
}
/* line 28, ../scss/mdday2013 copy.scss */
slides > slide.title-slide hgroup h2 {
  margin-top: 0.25em;
}
/* line 31, ../scss/mdday2013 copy.scss */
slides > slide.title-slide hgroup p {
  margin-top: 3em;
}

/* line 38, ../scss/mdday2013 copy.scss */
slides > slide:not(.nobackground):before {
  content: "#mddaylviv";
}

/* line 42, ../scss/mdday2013 copy.scss */
code {
  color: #444;
}
